<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Capstone Project </title>
</head>
<body>
  <div class="">
    <h1>Casting Assistant</h1>
    <ul>
      <li><b>black1by@hotmail.com<b></li>
      <li><b>BSW&#x3c;prGa=kVXq7Nw</b></li>
    </ul>
    <h1>Casting Director</h1>
    <ul>
      <li><b>ahmedamged@live.com</b></li>
      <li><b>BSW&#x3c;prGa=kVXq7Nw</b></li>
    </ul>
    <h1>Executive Producer</h1>
    <ul>
      <li><b>hamada15121@hotmail.com</b></li>
      <li><b>BSW&#x3c;prGa=kVXq7Nw</b></li>
    </ul>
  </div>
  <div class="">
    <a href="https://amged.us.auth0.com/authorize?audience=capstone&response_type=token&client_id=Creqbsl693vchgZlPah5TfCDN8XtGLXA&redirect_uri=https://final-capstone-fsnd.herokuapp.com">Login</a>
  </div>
</body>
</html>
